# generic
.DS_Store
.thumb
*~
*.swp
*.log

# js
node_modules
dist

# golang
bin
pkg
github.com
golang.org
vendor
*.db
main
poupaniquel-windows-4.0-amd64.exe
poupaniquel-darwin-10.6-amd64
poupaniquel-linux-amd64
poupaniquel
